apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: photoprism
  namespace: photoprism
spec:
  interval: 1m
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: photoprism
        namespace: photoprism
      chart: photoprism
      version: '8.11.0'
      interval: 1m
  valuesFrom:
    - kind: Secret
      name: photoprism-values
