image:
    repository: photoprism/photoprism
    tag: "251130"
    pullPolicy: IfNotPresent
ingress:
    main:
        enabled: true
        hosts:
            - host: photoprism.lan
              paths:
                - path: /
env:
    PHOTOPRISM_PUBLIC: "false"
    PHOTOPRISM_DATABASE_DRIVER: mysql
    PHOTOPRISM_STORAGE_PATH: /photoprism/storage
    PHOTOPRISM_ORIGINALS_PATH: /photoprism/originals
    PHOTOPRISM_ORIGINALS_LIMIT: 50000
    TZ: Europe/Paris
persistence:
    config:
        enabled: true
        mountPath: /photoprism/storage
    originals:
        enabled: true
        type: nfs
        server: truenas.local
        path: /mnt/main_storage/valentin/Photos
        mountPath: /photoprism/originals/photos/valentin
mariadb:
    enabled: true
    primary:
        persistence:
            enabled: true
sops:
    lastmodified: "2025-12-04T23:13:55Z"
    mac: ENC[AES256_GCM,data:IHOkprHdv+aHw7pPFdJSQuxOwXoleySjBUtxjobMBxSj1o5oSn7Ppif1wqQ6P4AcK+t8EhqalI3npvZ+IuNV/PZW5jBpfStO90RgjPvhDVBwGqfuRK6Y5vpkWfTP52VQNnVsYqQvjpSjP85Zi95tzAY+VVoe6xpTFmYOcojuKDM=,iv:UWE5DbuwmSTVwOqYSRntPnXthLWaUhIW9AAfmkdxmVY=,tag:K35XE2/ZeFvXZTiPY0r9Tw==,type:str]
    pgp:
        - created_at: "2025-12-04T23:13:55Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA7uy4qQr71wiARAAwnO3b4OqVDBXXaWjWH+IQYjNU7NafTX9bgZxBbSCbtk1
            9rSxn5SOFOBJU2ksniOhHwud/5pECjfU2evz2gHhBPQBUKHTETsqUawtHR2Axzv7
            PD1JOtruWyxjSeXxUpucAqdyF5GdEvtYoXcmFbrxblvBmQKb/n2z4QbwEhOsOGLk
            8Ry7uEaqTg/kB/kQzS5m+YkKluAgteG+nv1REA9NdIsNYWk/PYs9uRpNWTqqs6xg
            wAPRLZ7KjvWtJYlF1TSvl2PnLTY61W/hb7q95tH0LIOQCkdYyzyyuGQ0dw8sOB6j
            yiLBhtQd56vrFX6E6rgE7P5ay7oh18bB5v9GzEJWuZR9OvGyTMAkG6ioWHApSg/C
            e4yaYi1At+NXu8BdaljAcF1aMXOa8M7+zIDagFYJPIOodhsHah8LZ6T6YhNOzcSw
            PtnMdcpTe43jQm4ah3zMZgE0xzCnripF+JXqhHZQ8UaegB234PmkVeWaZsT6VfO7
            XvM8E345t5F4tco9pnPBf7Ur6s2ULDc75CCGAdnnNX7j3lEGdTGDtFANW78Zxw69
            cgWERBAlE0iDKef03KkLkV/4eSAWMPFXuqGZavihTKTdcl85wuN4dpF+X5KRGigd
            HjpBYvXffxJT/KoW2bDqr2xgyfnOqSvLDVekDgVeuC+t1LSErF87VuQ2DM3vzpHS
            XAHUqbhJW4G0du2GBJ5OWYQEC8CetjaBFFlB6PRXzvok+UQJgdejlrCjxr89ukag
            m1zWsAOLqOtvECOYNFHufB8OUzqcQymqLKDii2UbjCkpDV6VtN2Pc+IPRWff
            =SlEa
            -----END PGP MESSAGE-----
          fp: DC6910268E657FF70BA7EC289974494E76938DDC
    encrypted_regex: ^(password|value|ssh-key|api-key|user|username|privateKey|clientSecret|clientId|apiKey|extraArgs.*|.*Secret.*|extraEnvVars|.*SECRET.*|.*secret.*|key|.*Password|.*\.ya?ml)$
    version: 3.10.2
