services:
  jellyfin:
    image: jellyfin/jellyfin:2026010505
    container_name: jellyfin
    networks:
      - default
      - proxy
    ports:
      - "8096"
    volumes:
      - config:/etc/jellyfin
      - data:/var/lib/jellyfin
      - cache:/cache
      - nfs_films:/films
      - nfs_series:/series
    restart: 'unless-stopped'
    # Alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=https://flix.vhaudiquet.fr
      - JELLYFIN_CONFIG_DIR=/etc/jellyfin
      - JELLYFIN_DATA_DIR=/var/lib/jellyfin
      - JELLYFIN_CACHE_DIR=/cache
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`flix.vhaudiquet.fr`)"

volumes:
  nfs_films:
    driver_opts:
      type: 'nfs'
      o: 'addr=truenas.lan,ro'
      device: ':/mnt/media/films'
  nfs_series:
    driver_opts:
      type: 'nfs'
      o: 'addr=truenas.lan,ro'
      device: ':/mnt/media/series'
  cache:
  config:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/app/jellyfin/config'
  data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/app/jellyfin/data'
networks:
  proxy:
    name: proxy
    external: true