apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dashy
  namespace: dashy
spec:
  interval: 1m
  chart:
    spec:
      reconcileStrategy: Revision
      sourceRef:
        kind: HelmRepository
        name: dashy
        namespace: dashy
      chart: dashy
      interval: 1m
  valuesFrom:
    - kind: Secret
      name: dashy-values
