services:
  mongo:
    hostname: mongo
    image: mongo:8.2.3
    restart: always
    user: root:root
    volumes:
      - bpmongo_data:/data/db:Z
      - bpmongo_config:/data/configdb:Z
    env_file: .env

  patch_detector:
    image: git.vhaudiquet.fr/vhaudiquet/lolstats-patch_detector:8f8fc0f1af75e1803d8c600c8662e819854a0dc7
    build: ./patch_detector
    restart: "no"
    deploy:
      restart_policy:
        condition: any
        delay: '0'
        window: 10s
    env_file: .env


  match_collector:
    image: git.vhaudiquet.fr/vhaudiquet/lolstats-match_collector:8f8fc0f1af75e1803d8c600c8662e819854a0dc7
    build: ./match_collector
    restart: "no"
    deploy:
      restart_policy:
        condition: any
        delay: '0'
        window: 20s
    env_file: .env

  frontend:
    image: git.vhaudiquet.fr/vhaudiquet/lolstats-frontend:8f8fc0f1af75e1803d8c600c8662e819854a0dc7
    build: ./frontend
    restart: always
    networks:
      - default
      - proxy
    ports:
      - "3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`buildpath.win`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
    env_file: .env

volumes:
  bpmongo_data:
  bpmongo_config:

networks:
  proxy:
    external: true
    name: proxy
