services:
  stalwart:
    image: stalwartlabs/stalwart:v0.15.3
    container_name: stalwart
    networks:
      - default
      - proxy
    volumes:
      - stalwart_data:/opt/stalwart
    ports:
      - target: 25
        published: 25
        mode: host
      - target: 465
        published: 465
        mode: host
      - target: 993
        published: 993
        mode: host
      - target: 587
        published: 587
        mode: host
      - "8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stalwart.rule=Host(`mail.vhaudiquet.fr`)"
      - "traefik.http.services.stalwart.loadbalancer.server.port=8080"

volumes:
  stalwart_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/app/stalwart/data'

networks:
  proxy:
    name: proxy
    external: true
