apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  interval: 1m
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: home-assistant
        namespace: home-assistant
      chart: home-assistant
      interval: 1m
  valuesFrom:
    - kind: Secret
      name: home-assistant-values
