authentik:
    secret_key: ENC[AES256_GCM,data:zolR0LRhoAbr6rcczXtXXpVXDibUn4c1ucuJu7kOFLQfaxfRihnvbECTAQHJxlFcT26KUWttvUSX+/3XCO7zWBkBS6Lxf8hOqrUe7xnRM5E=,iv:CEVPUisU5hq99BVM8/CnOloQ0rsoLEada5PUmwgNzak=,tag:wiRxPLl7OLdwjgTC58cbSQ==,type:str]
    postgresql:
        password: ENC[AES256_GCM,data:FNR/EcOr0lD/WA==,iv:+lQ/dCqkkMypA48K+6msRKEg4puzoPAde6KwwthWUrk=,tag:6xjxlENPADMMI3PDCj2LAg==,type:str]
    email:
        from: webbot@vhaudiquet.fr
        host: mail.vhaudiquet.fr
        port: 587
        username: ENC[AES256_GCM,data:x0XSruXNhdNKiSGFVL0CSgYFIg8=,iv:kAUFZ6i8dYuGraRYefQMVY/fkUUf2Xe3WZU1/Hswlig=,tag:pitQVJ6GzSAaKn+6TGuP9w==,type:str]
        use_tls: true
        password: ENC[AES256_GCM,data:plf3U7Vaiykw3iqEvCw=,iv:fycTQK7NdZBCOtsgraQmSqnPKXmPk65M23J5/jJVO4k=,tag:Fxe+Qi3IyZjg3i8HHb2Eig==,type:str]
postgresql:
    enabled: true
    volumePermissions:
        enabled: true
        image:
            repository: bitnamilegacy/os-shell
            tag: 12-debian-12-r51
    auth:
        password: ENC[AES256_GCM,data:JnyV7lgYt2sQ2A==,iv:zfRRSIRlP0w4TMfR9UPKRpGwom+ixVgbLCogoowP7dQ=,tag:mL5gNfi5nrgP38BPrspQiQ==,type:str]
    image:
        repository: bitnamilegacy/postgresql
        tag: 15.9.0-debian-12-r0
redis:
    enabled: true
server:
    ingress:
        enabled: true
        hosts:
            - authentik.vhaudiquet.fr
sops:
    lastmodified: "2025-12-05T20:01:07Z"
    mac: ENC[AES256_GCM,data:WCvhvmdm1HCIH5h2J6JmvYvSMkVpEqw2WJT9x3dnh7PbM6d9jpFqxeNMobz8zm+6/WFYUR4YdvEeMFl0sRSP1fgIKPJKSIAmCbpCZYmfEPAn60LCeolHKRsUqH2bWDmnhx6zUu6vWMclfB3sbPKnmKltcAvEdDjNouDKPkc1zKc=,iv:5cMtlhM/ywPpC7GGOIGul+eLkyFLrhbO5kUA0oR1Z5o=,tag:WtOlkH71dxOtAbbOBPUorw==,type:str]
    pgp:
        - created_at: "2025-12-05T20:01:07Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA7uy4qQr71wiAQ//Y0B9GcDnLI1zKk19WZDAooh5kX6Fn5VvOiMXlSylh2jx
            J5LfYsqF7kXMWvfuyWQVRKID0qurBayyaNPCO/r43mnaCC6wEl58z84mi65LSJjO
            aYtoRJnlyv3hj0P0op3Fp0UuXCzOQQfBRRC7sW6K1QyKng8mohVptKUAfLihYk+W
            bs0zS0mu7yuaTTo9v/Qy0qp82Tt5RfdX9ZAOA6wW/tonxTy+FqfuMViBwEV9WyHV
            0Pal++DPZ+sxLODlHnAgHLjvXxXhv0Kn8GR7/tJVRSY3EnP5YI3I+LeHydhXfC9a
            NdXtHQt/zDgeNO1OjJ15Nfe1bPv5sj/LYt6tpK4C8UP5L0NmywQ+3hB3WyisA+f/
            tCloARmNA/KPp4F/RArjwneq3CcBaNy2oatTpEDUOe7+uXVtC7OGAllul83C83ik
            xExGhfgS/mVMQMa+URT8abBMiXUvfVfInLjDqaRRQ/CMb/R6YVnTRrhA44jO6Y1e
            J64eMGAaQUMkCDk9cBtqfX5UX6Y7JaGN/mPWZLJcqC7X9n5SKyeOAI7XqM3LyxrV
            bB2JUfUUdLHSM2dLGDT7KtI7DG7HA6LQPjS+tkGaHwxckqo2ws7gnKLHjhVW1a5z
            VFMGPWnYffRVMqK5eWkY8un3jo+RlYLPaHBSIt5Nihbk/+330ePsAoaRCpBRlLDS
            XAHOnN6NEvgxvnuwiXNEiBB0TWa56WRlhmRX8BK9lKKAWOTpekvcmrpYmfqx7s5g
            TlxT/IHX50UwqCnmJ5abG1KWcJW173zqP/PCQgKWGeokvrn0VfVynSklpsWp
            =0qqK
            -----END PGP MESSAGE-----
          fp: DC6910268E657FF70BA7EC289974494E76938DDC
    encrypted_regex: ^(password|value|ssh-key|api-key|user|username|privateKey|clientSecret|clientId|apiKey|extraArgs.*|.*Secret.*|extraEnvVars|.*SECRET.*|.*secret.*|key|.*Password|.*\.ya?ml)$
    version: 3.10.2
