authentik:
    secret_key: ENC[AES256_GCM,data:EPQ2dl2w3ZP52eoERrQVvZ5OMBGm+iEjA/RWlOLTddyzdeQOreNOHqxVrG0oRZg3zmaj2qQbarNVX0yvlwy7crHLY6L5J1JSGCmNuFyZgEk=,iv:2TKvYzZtvg2EHTWIzb+rxBu7FyewhaQCoR0dRKd5/Ow=,tag:Tkkbs58+OMZOELTmmqZAYw==,type:str]
    postgresql:
        password: ENC[AES256_GCM,data:zzEN1keNx48DpA==,iv:0vwBuoh0umbArhhXMbFclISGDV27DVUY+YCuh+/LIBo=,tag:e0EGDqbf+WS3Yb/KluONFg==,type:str]
    email:
        from: webbot@vhaudiquet.fr
        host: mail.vhaudiquet.fr
        port: 587
        username: ENC[AES256_GCM,data:RGeVwaZ9pLclrJzW66SuqpZ6np4=,iv:mvLHq+OcB3Ip4KCPql8+vU5frfygE1iGh+kfrtxK8cQ=,tag:pEVuTRyrXRwuz8sv7LMb4Q==,type:str]
        use_tls: true
        password: ENC[AES256_GCM,data:z0gs8tL6pBiKw+sKHt4=,iv:ADdr4CwmFUmFAbZ3K/CldOZyXJyWsr6fOGDGYPj5G28=,tag:v5oooiLBvbj1IlBmL2ZMYQ==,type:str]
postgresql:
    enabled: true
    volumePermissions:
        enabled: true
        image:
            repository: bitnamilegacy/os-shell
            tag: 12-debian-12-r51
    auth:
        password: ENC[AES256_GCM,data:g5+9CBwrbGFEkQ==,iv:eUKIF4z1lrVBsTF4lli2hPdmaMaLU7fPIhnk9dN7CT0=,tag:Dtfgsd2m5n6GWRskMY+TFw==,type:str]
    image:
        repository: bitnamilegacy/postgresql
        tag: 15.9.0
redis:
    enabled: true
server:
    ingress:
        enabled: true
        hosts:
            - authentik.vhaudiquet.fr
sops:
    lastmodified: "2025-12-05T21:02:15Z"
    mac: ENC[AES256_GCM,data:+WIkD6js3cYighLZiV1nUe0Hp3RJOKH/XjxsiLEsaNI6cy0tBoRmsmA52UxaOQtqbQ6nhm46G9BNBi73/6p3eg5WmtqM13cjoGFE9w1sPeRM9nnLYfLQZXQA45MlS53XKRsHoGiWDQW5to4zJKIlaHp6mwzvC3lkZHjmqUgRCAc=,iv:18/S4Xs69+8uQ4dx5YEdxg6V07x2ONxNlpMoZ2kxu5o=,tag:ZcKVE6fVg2CBm/qWs1AsFg==,type:str]
    pgp:
        - created_at: "2025-12-05T21:02:15Z"
          enc: |-
            -----BEGIN PGP MESSAGE-----

            hQIMA7uy4qQr71wiAQ/6A2oOlklCA5C0184MD0XKpIUDVffiDRLFw37pfTLsLpsi
            cIwTzhhw4/9zcgrgy4CFXrc1TtiQwvuQGAwPHsCRuRZnJSy3ZCfpUg628OJXbm6W
            SpUcehKVnqW6qwbYeGojAj1SazFB75zXv0OzpUeseYrYko06CZyWkhg0KJ5id3JH
            WvBZem5f3NXV316zLdJ8bUu+QtqeTzDLT6MOrfsJ44nDtpLvJZasBTVwru9Qu0DQ
            umkHMoVxe6YR3JKXhGDvrYAB2tyObJcOC0HkK/9XjDvulERq/aMhJZtdwwU0GDzn
            YFvG6elMbLqbXw98BXF0mG7I+xWWDQkQ+R7EdT3uPDa/fyBb/8NtG0wxerlnfSrp
            Zuhs+O64GyRPm3lSllxDGYUcwigPjD4vUN9TOk0VFHmGv9AwbYy6u2OWr54vU8JB
            Exu6iQcQC7lNNrTNH1yqB3Mgkkv5Rtl1pJX4asLd2K/4Y54jCFBoEtDGErvlHQAc
            KWe9aCiFRxuB54glQHsZRJKKtv2vb9wr1ZbJMfiuuPTD28gH9ruGuFM9zx8oyQvb
            +y3QKwZYvAH+fqL6rR/KLuzlkJYBoN/zJcdGp0O94zjIpcfVaW7GUjkrziQP16zz
            t1eQ6IQ6aNLEOYaouYpQ3Vj5pgI58jvPAZSglse5uHv/5l5NIDF+OLicfpmK8JTS
            XgG1MEp8tbPsyAo0lgsZNvVy9GV0Mtt2/ZyiKtuquSO3XqOdRZTVsYJCc+37D315
            opZGS9p5mj+1QoG3p8+e/UUoT24TOnq4owx3uyToLJ3J1rTvtr7fYl20YAW/lN8=
            =Kfy1
            -----END PGP MESSAGE-----
          fp: DC6910268E657FF70BA7EC289974494E76938DDC
    encrypted_regex: ^(password|value|ssh-key|api-key|user|username|privateKey|clientSecret|clientId|apiKey|extraArgs.*|.*Secret.*|extraEnvVars|.*SECRET.*|.*secret.*|key|.*Password|.*\.ya?ml)$
    version: 3.10.2
